<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="https://yourservername/SecureMapApp/secureMap.php"
             logFile="proxy_log.log"
             mustMatch="true">
    <serverUrls>
		<serverUrl url="https://sampleserver6.arcgisonline.com" username="user1" password="user1" matchAll="true"/>
		<serverUrl url="https://route.arcgis.com" username="" password="" matchAll="true"/>
		<serverUrl url="https://traffic.arcgis.com" username="" password="" matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
