<?xml version="1.0" encoding="utf-8"?>
<ESRI.Configuration xmlns="http://schemas.esri.com/DADF/Registry" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.esri.com/DADF/Registry file:///C:/Program%20Files/ArcGIS/Pro/bin/ArcGIS.Desktop.Framework.xsd">
  <Name>SimplePointPlugin</Name>
  <AddInID>{e020adee-42f3-44f3-b346-13810b5f24bd}</AddInID>
  <Description>SimplePointPlugin description</Description>
  <Version>1.0</Version>
  <Author>charlesm</Author>
  <Company>ESRI</Company>
  <Date>5/11/2022 8:01:44 AM</Date>
  <Targets>
    <Target name="ArcGISPro" version="3.3" />
  </Targets>
  <!-- CLR should be set to the target framework set in the .csproj -->
  <AddIn language="CLR:PluginDS" library="SimplePointPlugin.dll" namespace="SimplePointPlugin">
    <ArcGISPro>
      <PluginDatasources>
        <PluginDatasource id="SimplePointPlugin_Datasource" class="ProPluginDatasourceTemplate" />
      </PluginDatasources>
    </ArcGISPro>
  </AddIn>
</ESRI.Configuration>