<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
	<bean id="antipodeProcessorServiceBean" class="antipode.processor.AntipodeProcessorService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext" />
	</bean>
	<service id="antipodeProcessorService" ref="antipodeProcessorServiceBean" interface="com.esri.ges.processor.GeoEventProcessorService"/>
</blueprint>